
body{
        left: 90px;
        top: 90px;
        width: 1200px;
        height: 4478px;
        color: #ffffff;
        font-family: 'Source Sans Pro';
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        text-decoration: none;
        text-align: center;
        background: #FFFFFF;
        border: 1px solid #9E9E9E;
        border-radius: 10px;
        }

.logo{
        left: 114px;
        top: 142px;
        width: 68px;
        height: 68px;
        border: 1px solid #000000;
        }