@charset "UTF-8";

/*
    em HTML é id    = em CSS é #
    em HTML é class = em CSS é .
*/    

body{
    background-color: rgb(196, 147, 92);
}

h1{
    color: rgba(128, 255, 0, 0.466);
}

#principal{
    text-align: center;
    background-color: rgb(2, 124, 83);
    color: white;
}

h2{
    color: rgb(226, 131, 43);
}

.basico{
    color: aquamarine;  
    font-weight: bold;
}

.intermediario{
    color: rgb(0, 110, 255);
}

.avancado{
    color: blue;
}